*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	font-family: Mulish;
	font: size 20px;
	color: rgba(21, 99, 90, 1);
	line-height: 1.8;
}

#showcase{
	background-image:url('../img/doctor.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}

#showcase h1{
	color: rgba(21, 99, 90, 1);
}

#showcase p{
	font-size: 20px;
	text-align: center;
}

#showcase .button{
	font-size: 18px;
	text-decoration: none;
	border: rgba(1, 127, 113, 1) 2px solid;
	padding: 10px 15px;
	border-radius: 10px;
	margin-top: 20px;
	color: rgba(1, 127, 113, 1);
}